@use '@zocom/styles' as *;

.menuItem{
    @include fontsizeMedium;
    font-family: 'Fira Sans';
    display: flex;
    color: $color-snow;
    margin: $margin-huge;
}

.wontonTitle{
    margin-right: $margin-large;
    white-space: nowrap;
}

.dottedLine{
    border: none;
    border-bottom: 2px dotted $color-snow;
    background-color: $color-clay;
    height: 2px;
    margin-right: $margin-huge;
}

.wontonPrice{
    white-space: nowrap;
}

.separator{
    background-color: $color-shade-24-light;
}
.ingredients{
    color: $color-snow;
}