@use '@zocom/styles' as *;

.orders {
  @include row;
  align-self: stretch;

  gap: $gap-extra-huge;

  overflow: hidden;

  &__section {
    @include column;

    align-items: stretch;
    justify-content: flex-start;

    flex: 1;
  }

  &__items {
    @include column;
    align-items: stretch;

    gap: $gap-huge;

    overflow-y: auto;

    padding-right: $padding-large;
    padding-bottom: $padding-large;
  }

  &__label {
    @include row;

    > h2 {
      @include fontsizeMedium;
      color: $color-ash;
    }

    > hr {
      align-self: center;
      background: none;
      border-top: solid 1px $color-shade-24-light;
      justify-self: stretch;
    }
  }
}
