@use '@zocom/styles' as *;

.checkout-page {
  height: 100vh;
  background-color: $color-ash;
  padding: $padding-large;
  @include column;
  gap: $gap-large;

  &__cart {
    width: 100%;
    @include flexCenterPickDirection(space-between);
    align-self: end;
    &_arrow-back {
      @include fontsizeMedium;
      align-self: center;
      cursor: pointer;
    }
  }

  &__customer-cart {
    @include column;
    align-items: normal;
    align-self: stretch;
    gap: $baseline;
    overflow-y: hidden;
  }

  &__checkout {
    @include column;
    align-self: stretch;
    align-items: stretch;
    margin-top: auto;
  }
  &__amount {
    background-color: $color-shade-24-dark;
    padding: $baseline;
    align-self: stretch;
  }
  &__quantity {
    @include fontsizeSmall();
    font-weight: 500;
  }
}
