@use '@zocom/styles' as *;

.admin-page {
  @include center;
  background-color: $color-coal;
  width: 100%;
  height: 100%;
  &__header {
    @include column;
    margin: $margin-huge $margin-huge;
    gap: $gap-large;
    >h1 {
      @include fontsizeHuge;
      color: $color-snow;
    }
  }
}
