@use '@zocom/styles' as *;

.landing-page {
    @include center;
    width: 100vw;
    height: 100vh;
    background: url('assets/leaves.png') $color-mint;
    padding: $padding-large;
}

.menu{
    background-color: $color-clay;
    border-radius: $radius-tier-2;
    width: 90vw;
    height: 70vh;
}

.title{
    @include fontsizeLarge;
    color: $color-snow;
    margin: $margin-large;
    text-shadow: $shadow-titleText;
}