@use '@zocom/styles' as *;

.landing-page {
    width: 100vw;
    height: 100vh;
    background: url('assets/leaves.png') $color-mint;
    @include column;
    padding: $padding-large;
}

.menu{
    background-color: $color-clay;
}