@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Cairo:wght@400;600&display=swap');

:root {
    font-family: 'Cairo', sans-serif;
}

$base: 16px;

@mixin fontsizeLarge {
    font-size: calc($base * 2);
    line-height: 120%;
    font-family: 'Fira Sans';
}

@mixin fontsizeMedium {
    font-size: calc($base * 1.5);
    line-height: 120%;
    font-family: 'Fira Sans';
}

@mixin fontsizeRegular {
    font-size: $base;
    line-height: 140%;
}

@mixin fontsizeSmall {
    font-size: calc($base * .8);
    line-height: 120%;
}