@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

:root {
  font-family: 'Fira Sans', sans-serif;
}

$base: 16px;

@mixin fontsizeLarge {
  font-size: calc($base * 1.6);
  line-height: 120%;
}

@mixin fontsizeRegular {
  font-size: $base;
  line-height: 140%;
}

@mixin fontsizeSmall {
  font-size: calc($base * 0.8);
  line-height: 120%;
}

@mixin fontBold {
  font-weight: 700;
  text-transform: uppercase;
}
