@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: 'Fira Sans', sans-serif;
  font-size: 62.5%;
}

body {
  @include flexCenter();
}

$base: 1.6rem;

@mixin fontsizeLarge {
  font-size: calc($base * 2);
  line-height: 120%;
  font-family: 'Fira Sans';
  font-weight: 700;
  text-transform: uppercase;
}

@mixin fontsizeMedium {
  font-size: calc($base * 1.5);
  line-height: 120%;
  font-family: 'Fira Sans';
  font-weight: 700;
  text-transform: uppercase;
}

@mixin fontsizeRegular {
  font-size: $base;
  line-height: 140%;
  font-family: 'Fira Sans';
  font-weight: 500;
}

@mixin fontsizeSmall {
  font-size: calc($base * 0.8);
  line-height: 120%;
}

@mixin fontBold {
  font-weight: 700;
  text-transform: uppercase;
}
