@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: 'Cairo', sans-serif;
  font-size: 62.5%;
}

body {
  @include flexCenter;
}

$base: 16px;

@mixin fontsizeLarge {
  font-size: calc($base * 1.6);
  line-height: 120%;
}

@mixin fontsizeRegular {
  font-size: $base;
  line-height: 140%;
}

@mixin fontsizeSmall {
  font-size: calc($base * 0.8);
  line-height: 120%;
}
