/* Boilerplate variables */

/* COLORS */
$primaryTextColor: #222;
$primaryBg: #ccc;

$color-alert: #eb5757;
$color-ash: #eeeeee;
$color-bacon: #fbe9e9;
$color-clay: #605858;
$color-coal: #353131;
$color-dark-mint: #489078;
$color-light-mint: #dbfbf0;
$color-mint: #8ed8bf;
$color-snow: #f4f3f1f0;
$color-shade-12-light: #f1f0ec1f;
$color-shade-24-dark: #3531313d;
$color-shade-24-light: #f1f0ec3d;

/* MARGINS, PADDINGS, GAPS */

$baseline: 16px;

$padding-huge: calc($baseline * 2); //32px
$padding-large: calc($baseline * 1.375); //22px
$padding: $baseline;
$padding-sml: calc($baseline / 2);
$padding-nano: calc($baseline / 4);

$margin-giant: calc($baseline * 3);
$margin-huge: calc($baseline * 2);
$margin-large: calc($baseline * 1.5);
$margin: $baseline;
$margin-sml: calc($baseline / 2);
$margin-nano: calc($baseline / 4);

$gap-huge: calc($baseline * 2);
$gap-large: calc($baseline * 1.5);
$gap: $baseline;
$gap-sml: calc($baseline / 2);
$gap-nano: calc($baseline / 4);

/* EFFECTS */

$radius-tier-1: 8px;
$radius-tier-2: 4px;
$radius-tier-3: 2px;

$shadow-sml: 0px 0px 1.2px rgba(0, 0, 0, 0.025),
  0px 0px 3.3px rgba(0, 0, 0, 0.019), 0px 0px 10px rgba(0, 0, 0, 0.012),
  0px 0px 17.9px rgba(0, 0, 0, 0.009);

$shadow-medium: 0px 0px 3.2px rgba(0, 0, 0, 0.035),
  0px 0px 7.3px rgba(0, 0, 0, 0.029), 0px 0px 20px rgba(0, 0, 0, 0.022),
  0px 0px 40.9px rgba(0, 0, 0, 0.019);

$shadow-large: 0px 0px 2.2px rgba(0, 0, 0, 0.015),
  0px 0px 5.3px rgba(0, 0, 0, 0.021), 0px 0px 10px rgba(0, 0, 0, 0.009),
  0px 0px 17.9px rgba(0, 0, 0, 0.019), 0px 0px 33.4px rgba(0, 0, 0, 0.042),
  0px 0px 80px rgba(0, 0, 0, 0.2);

$shadow-titleText: 1px 1px 0px rgba(0, 0, 0, 0.3);
$shadow-ingedientsText: 1px 1px 2px rgba(0, 0, 0, 0.4);

/* RESPONSIVE */
$mobileBreakpoint: 480px;
$tabletBreakpoint: 640px;

/* HELPERS */

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-sml;
}

@mixin row {
  display: flex;
  flex-direction: row;
  gap: $gap;
}
