@use '@zocom/styles' as *;

.orders-page {
  @include column;
  align-items: flex-start;

  padding: 0 $padding-large;

  background-color: $color-coal;

  &__header {
    @include row;
    align-items: center;

    gap: $gap-large;

    margin: $margin-huge 0;

    > h1 {
      @include fontsizeHuge;
      color: $color-snow;
    }
  }
}
