@use '@zocom/styles' as *;
.dipContainer{
    cursor: pointer;
}

.dipLabel{
    background-color: $color-shade-24-light;
    padding: $padding-sml;
    border-radius: $radius-tier-2;
    gap: $gap-large;
}

