@use '@zocom/styles' as *;

.dipContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    justify-content: center; 
    align-items: center; 
}

.dipItem{
    
}

.dipLabel{
    background-color: $color-shade-24-light;
    padding: $padding-sml;
    border-radius: $radius-tier-2;
    gap: $gap;
}

