@use '@zocom/styles' as *;

.dipContainer{
    display: grid; 
}

.dipLabel{
    background-color: $color-shade-24-light;
    padding: $padding-sml;
    border-radius: $radius-tier-2;
    gap: $gap;
    flex-basis: calc(33.33% - 10px);
}

